$darkGreen: #005E54;
$lightTan: #FDF3B6;
$tan: #E0D09C;
$darkGray: #0E1321;
$darkBlue: #00426E;
$blue: #397F9D;
$orange: #F27300;
$darkRed: #7F130D;

@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700|Oswald:400,300,700);

html {
  height: 100%;
  overflow: hidden;
  padding: 0;
  background-color: $darkGray;
  background: -webkit-linear-gradient(top, #0E0E0E, $darkGray);
}

body {
  margin: 0;
  color: $tan;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
}

h1 {
  font-size: 600%;
  text-shadow: 5px 5px 10px #000;
}

h1.cli {
  font-size: 400%;
  text-shadow: 5px 5px 10px #000;
  font-family: 'Inconsolata', monospace;
}
