$darkGreen: #005E54;
$lightTan: #FDF3B6;
$tan: #E0D09C;
$darkGray: #0E1321;
$darkBlue: #00426E;
$blue: #397F9D;
$orange: #F27300;
$darkRed: #7F130D;

html {
  height: 100%;
  overflow: hidden;
  padding: 0;
  background-color: $darkGray;
  background: -webkit-linear-gradient(top, #0E0E0E, $darkGray);
}

body {
  margin: 0;
  color: $tan;
  text-align: center;
  font-family: 'helvetica neue';
  letter-spacing: 0.1em;
}

h1 {
  font-size: 300%;
  text-shadow: 5px 5px 10px #000;
}
